.forcast5-span{
  white-space: nowrap;
  border-right: 1px solid rgba(128, 128, 128, 0.322);
  padding-top: 30px;
  margin-top: 40px;
  margin-left: 10px;
  padding-right: 10px;
  height: 50px;
  text-align: center;
  color: gray;
}
.forcast5-dayWeather{
  margin: 10px;
}